 <nav class="footer"> 
    <div class="container">
      <%= link_to "Instagram" %>
      <%= link_to "Twitter" %>
      <h5> <%="Copyright © 2017 . His project is practicle word "%></h5>
   
    </div>

</nav>